<h1>Pdf - selezione pagine per taglio documento</h1>

<div class="example-container">
  <div class="item-container">
    <div
      *ngFor="let thumbnail of thumbnails; let i = index">
      <div class="item-box example-box" #refElement (click)="selectElement(refElement, i)">
        <img class="page-thumbnail" src='data:image/png;base64, {{thumbnail.base64ByteArray}}' width="100px" />
        <br/>
        <!--
        <div class="page-descriprion">pag. {{thumbnail.idPage+1}}</div>
        -->
      </div>
    </div>
  </div>
</div>
