.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item-box {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.item-selected {
  border: 1px solid lightgreen !important;
  box-shadow: 0 3px 1px -2px darkgreen, 0 2px 2px 0 darkgreen,
  0 1px 5px 0 darkgreen !important;
  /*background-color: lightgreen !important;*/
  background-color : lightgreen !important;
}

.example-box {
  width: 120px;
  height: 150px;
  padding: 4px;
  border: solid 1px #ccc;
  border-radius: 4px;
  /*font-size: 30pt;*/
  /*font-weight: bold;*/
  color: rgba(0, 0, 0, 0.87);
  cursor: crosshair;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.6;
}

.page-descriprion {
  font-size: smaller;
}
